@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: initial;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-bold.woff2') format('woff2'),
    url('../fonts/aeonik-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-regular.woff2') format('woff2'),
    url('../fonts/aeonik-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-light.woff2') format('woff2'),
    url('../fonts/aeonik-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-bold.woff2') format('woff2'),
    url('../fonts/apoc-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-regular.woff2') format('woff2'),
    url('../fonts/apoc-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-light.woff2') format('woff2'),
    url('../fonts/apoc-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pokefont';
  src: url('../fonts/pokemon-rby.otf') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Aeonik';
  background: #f5f4f5;
  color: #282829;
  font-style: normal;
  font-weight: 400;
  max-width: 100vw;
  transition: background 0.6s ease-out, color 0.6s ease-out;
}

body.hide_header .header {
  transform: translateY(-100%);
}

body.scrolled .header {
  background: #f5f4f5;
  /* background: black;
     color: white; */
}

@media (min-width: 1024px) {
  body.scrolled .header_container {
    padding: 10px 0;
  }

  body.scrolled .header_logo svg {
    height: 38px;
    transition: height 0.6s ease-out;
  }
}

.font_apoc {
  font-family: 'Apoc';
}

.font_aeonik {
  font-family: 'Aeonik';
}

.poke-font {
  font-family: 'Pokefont';
}

.container {
  background-image:
    linear-gradient(rgba(51, 65, 85, 0.3) .1em, transparent .1em),
    linear-gradient(90deg, rgba(51, 65, 85, 0.3) .1em, transparent .1em);
  background-size: 4em 4em;
}

.grow-from-left {
  transform-origin: left center;
}

.grow-from-right {
  transform-origin: right center;
}

.sidebar {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100%;
  outline: 2px solid black;
}

.sidebar-left {
  left: 0;
  width: 16%;
  clip-path: polygon(0 0, 0 100%, 70% 100%, 70% 23%, 80% 20%, 80% 0);
}

.sidebar-right {
  right: 0;
  width: 15%;
  clip-path: polygon(0 0, 0 20%, 20% 23%, 20% 100%, 100% 100%, 100% 0);
}

@media (max-width: 768px) {
  .sidebar-left {
    width: 15%;
  }
}

@media (min-width: 380px) {
  .sidebar-left {
    width: 13%;
  }
}

@media (min-width: 500px) {
  .sidebar-left {
    width: 11%;
  }
}

@media (min-width: 730px) {
  .sidebar-left {
    width: 10%;
  }
}

@media (max-width: 1070px) {
  .sidebar-right {
    width: 18%;
  }
}

@media (min-width: 1070px) {
  .sidebar-right {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .sidebar-right {
    width: 13%;
  }
}

@media (min-width: 1400px) {
  .sidebar-right {
    width: 10%;
  }

  /* .sidebar #lg-info{
    padding-top: 3.5rem;
    padding-left: 0.5rem;
  } */
}

/* @media (min-width: 1024px) {
  .sidebar-right {
      width: 18%;
  }
} */


@media (min-width: 768px) {
  .sidebar-left {
    display: none;
  }

  .sidebar-right {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .sidebar-left {
    display: flex;
  }

  .sidebar-right {
    display: none;
  }
}

@media (min-width: 1024px) {
  .sidebar-left {
    display: none;
  }

  .sidebar-right {
    display: flex;
  }
}

@keyframes ping {
  0% {
    opacity: 1;
    width: 0;
    height: 0;
  }

  100% {
    opacity: 0;
    width: 100px;
    height: 100px;
  }
}

.ping {
  animation: ping 1s infinite;
}